
/*
----------------------------------------------------------------------------
EmacsWiki light theme
----------------------------------------------------------------------------
A combination of some of the existing themes on the EmacsWiki at
http://emacswiki.org, with various other additions.
The base theme was the cali2.css theme.
This file is in the public domain.
----------------------------------------------------------------------------
*/


/* ---------------------------------------------------------------------- */
/* Base */
/* ---------------------------------------------------------------------- */

body {
    margin: 0 0 1.5em 0;
    padding: 1em 1em;
    color: #242323; /* dark gray */
    background-color: white;
    line-height: 1.3em;

    /* Serif fonts */
    /* Hoefler Text is an Apple font since 1991 */
    /* Constantia is a freely available Microsoft font */
    font-family: "Hoefler Text", Constantia, Garamond, Palatino, Baskerville, "Book Antiqua", Cochin, Georgia, serif;

    /* Sans-serif fonts */
    /* font-family: "Lucida Grande", Geneva, Arial, sans-serif; */
}


/* Code and Pre */
/* note: syntax highlighting is at EOF */
code, pre {
    color: #444;
    /* background-color: #fcfbfb; */
    background-color: #faf9f9;
    border: 1px solid #ddd;

    /* These fonts are all pretty similar, except Courier and monospace */
    font-family: Consolas, 'Bitstream Vera Sans Mono', Monaco, 'Lucida Console', Courier, monospace;

    /* For some reason, using a different font than the default monospace */
    /* increases the size of the text, so need to counteract that here */
    font-size: 0.8em;
}
/* Code - used for keysequences, function references (anything in `...') */
code {
    padding: 2px;
}
/* Pre - used for blocks of code */
pre {
    margin: 1em 0;
    padding: 1em 2em;
}


/* Links */
a {
    color: gray;
    background-color: inherit;

    /* This works on firefox, just shows as a plain underline in chrome */
    text-decoration: underline dotted #09c;

    /* Faking a dotted underline, works on all browsers but can't adjust position */
    /* text-decoration: none; */
    /* border-bottom: 1px dotted #09c; */
}
a:link, a:visited {
    background-color: inherit;
}
a:active, a:hover {
    color: #079;
}
/* External links */
a[class="url outside"]:before { content: "\2197"; }
.safari a[class="url outside"]:before { content: url(http://www.emacswiki.org/alex/pics/arrow.png); }

/* not sure where these are used... */
a.near:link { color: #036; background-color: inherit; }
a.near:visited { color: #69c; background-color: inherit; }
a.near:active { color: #390; background-color: inherit; }
a.near:hover { color: #390; background-color: inherit; }


/* Images */
a.image img {
    border: none;
}
a.left {
    float: left;
    margin: 20px;
}
a.right {
    float: right;
    margin: 20px;
}


/* Headers */
h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: normal;
    clear: both;
}

/* h2 */
/* dotted line and whitespace before subheadings */
h2 {
    font-size: 1.5em;
    margin-top: 1.5em;
    padding-top: 1em;
    border-top: 1px dotted #888;
    /* border-top: 1px solid #aaa; */
    margin-bottom: 1em;
}


/* h3 */
h3 {
    font-size: 1.2em;
    margin-top: 0.1em;
    padding-top: 0.5em;
    /* padding-bottom: .5em; */
    /* border-top: 1px solid #ddd; */
    border-bottom: 1px solid #ccc;
    /* text-decoration: underline; */
    /* text-decoration: underline solid #999; */
    margin-bottom: 0.5em;
}

/* after a subheading, no whitespace */
h2 + p, h3 + p, h2 + div p, h3 + div p  {
    margin-top: 0;
}


/* hr */
hr {
    border: 0;
    height: 1px;
    background-color: #ccc;
    width: 100%;
    clear: both;
}


/* Tables */
table {
    border-collapse: collapse; /* otherwise leaves gaps in between cell outlines */
}
table th {
    font-weight: bold;
}
table td,th {
    padding: 0 1ex;
    text-align: left;
    border: solid 1px #bbb;
}
/* odd/even rows */
/* table tr.odd { */
/*     background-color: #fcfbfb; */
/* } */


/* ? */
/* Table on the new page */
p.table a { float: left; width: 20ex; }
p.table + p { clear: both; padding-top: 10px; }


/* Definition lists */
dt {
    font-weight: bold;
}



/* ---------------------------------------------------------------------- */
/* Layout */
/* ---------------------------------------------------------------------- */


/* Header - includes logo, search bar, goto bar, and article title */
div.header {
    margin-left: 150px;
}
div.header .specialdays {
    display: block;
    position: absolute;
    top: 10px;
}


/* Logo */
/* hide the existing logo... */
img.logo {
    display: none;
}
/* ...and override it with a different image */
a.logo {
    display: block;
    position: absolute;
    top: 6px;
    left: 10px;
    /* background:transparent url(./images/emacswiki.png); */
    /* width: 196px; */
    /* height: 112px; */
    /* background:transparent url(./images/leaf_light64x64.png); */
    /* width: 64px; */
    /* height: 64px; */
    /* just a placeholder for the moment */
    /* background:transparent url(./images/dottriangles32a.png); */
    /* background:transparent url(./images/leaves32blue.png); */
    background:transparent url(./images/leaves32green.png);
    top: 20px;
    left: 16px;
    width: 32px;
    height: 32px;
    border-bottom: none;
    text-decoration: none;
}
/* and add some text next to the logo */
a.logo:after {
    display: block;
    /* just a placeholder for now */
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    content: "EmacsWiki";
    font-size: 2em;
    margin-top: 5px;
    margin-left: 36px;
    color: #555;
}


/* Search bar */
.header .menu {
    float: right;
    height: 2.5em;
}
.menu p {
    margin: 0;
    margin-top: 0.1em;
    padding: 0;
}


/* Bars (Goto bar, Translation bar, Edit bar) */
span.bar a {
    font-size: smaller;
    color: #444;
}


/* Goto bar (SiteMap, HowTo, etc) - on left side */
span.gotobar {
    position: absolute;
    top: 3.5em;
    left: 10px;
    width: 140px;
    padding-right: 1em;
    padding-top: 30px;
    text-align: right;
    border-top: 1px dotted #ccc;
    /* border-top: 1px solid #ccc; */
}
span.gotobar a {
    display: block;
    font-size: 100%;
    margin-top: 0.5em;
    border-bottom: none;
    text-decoration: none;
}
span.gotobar a:hover {
    color: #069;
}


/* Messages */
div.message {
    /* float: left; */
    position: absolute;
    top: 1px;
    margin: 0;
    padding: 0 1em;
    background-color: #00d8ff;
    color: #000;
    box-shadow: 2px 2px 2px 0 #888;
}


/* h1 (title) */
div.header h1 {
    font-size: 2em;
    margin: 0;
    padding-left: 20px;
    padding-top: 30px;
    border-top: 1px dotted #ccc;
    /* border-top: 1px solid #ccc; */
    border-left: 1px dotted #ccc;
    /* border-left: 1px solid #ccc; */
    /* letter-spacing: 0.05em; */
}
div.header h1 a {
    color: inherit;
    background-color: inherit;
    border-bottom: none;
    text-decoration: none;
}



/* Wrapper */
/* .wrapper { */
/* padding: 0; */
/* margin: 0; */
/* } */


/* Content */
div.content, div.rc, div.diff, div.comment {
    margin-left: 150px; /* see gotobar */
    padding: 1em;
    background: white;
    /* border-left: 1px solid #ccc; */
    border-left: 1px dotted #ccc;
    min-height: 14em; /* so gotobar won't overwrite footer on small pages */
/* border: 1px solid red; */
}
div.content {
    padding-top: 0.5em;
}


/* Table of contents */
.toc {
    width: 50%;
    font-size: 90%;
    padding: 0 1em;
    margin: 2em 0;
    line-height: 1.4em;
    border: 1px solid #ccc;
}


/* Portraits */
/* These show when start post with [new::] and have a portrait image on homepage */
/* see https://oddmuse.org/wiki/Portraits_Support_Extension */
div.portrait {
    margin: 0;
    float: left;
    clear: left;
    font-size: 0.75em;
    text-align: center;
}
div.portrait p {
    margin: 0;
    padding-top: 1ex;
}
/* for the image inside a.newauthor */
img.portrait {
    margin: 0;
    float: left;
    clear: left;
    /* picture frame */
    padding: 6px;
    background-color: white;
    border: 1px solid #999;
    /* scale the image */
    width: 100%;
    /* preferred image size is 48x48px */
    max-width: 62px; 
}
/* portrait caption */
div.portrait a.local {
float: left;
    display: block;
    clear: both;
    text-decoration: none;
    border-bottom: none;
    min-width: 74px; /* 62px from above + 2*6px padding */
    margin-right: 1em;
}
div.comment {
    clear: both;
}


/* IRC */
.irc .time {
    display: none;
}
dl.irc dt {
    float: left;
    text-align: right;
    width: 20ex;
}
dl.irc dd {
    display: block;
    margin-left: 22ex;
}



/* Calendar */
/* (pre gets different colors below) */
div.month {
    padding: 0;
    margin: 0 2ex;
}
div.month a {
    text-decoration: none;
}
div.month pre {
    color: inherit;
    background-color: inherit;
}
body div.month {
    float: right;
    padding: 0 1ex;
}
.year div.month {
    float: left;
    padding: 0;
}
div.month a.edit {
    color: inherit;
    background-color: inherit;
    font-weight: inherit;
}




/* diff */
div.diff { padding-left: 5%; padding-right: 5%; }
div.old { background-color: #FFFFAF; color: #000; }
div.new { background-color: #CFFFCF; color: #000; }



/* Footer */
div.footer {
    clear: both;
    font-size: smaller;
/* border: 1px solid green; */
}
div.footer hr {
    border: 0;
    height: 1px;
    background-color: #ddd;
    margin: 0; /* close gap with vertical line */
}

/* Footer edit bar */
div.footer span.edit {
    display: block;
    position: absolute;
    top: 30px;
    left: 206px;
    white-space: nowrap;
}


/* Legal */
p.legal {
    /* float: left; */
    margin: 0;
    padding: 0;
    font-style: italic;
}
/* also has <div style="float:right; margin-left:1ex;"> */
a.license {
    /* margin-top: 2em; */
    border-bottom: none;
    text-decoration: none;
}


/* ? */
div.sister {
    font-size: smaller;
    margin-right: 1ex;
}
div.sister p {
    margin-top: 0;
}
div.sister hr {
    display: none;
}
div.sister img {
    border: none;
    vertical-align: top;
    margin-right: 20px;
}

/* ? */
div.near, div.definition {
    font-size: smaller;
}

/* ? */
div.refer hr {
    display: none;
}
div.refer {
    margin-top: 50px;
    padding-left: 1ex;
    border-left: 0.6ex solid #aaa;
    font-size: smaller;
    clear: both;
}


/* Center lower menu items and add border*/

/* Translation bar */
.footer span.translation.bar {
    display: block;
    text-align: center;
    /* border-top: 1px dotted #aaa; */
}
/* Edit bar (buttons) */
.footer .edit.bar {
    display: block;
    text-align: center;
    padding: 5px 0px 15px 0;
}
/* Last edit */
.footer div.time {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}


/* Display buttons */
.edit.bar a {
    display:inline-block;
    zoom:1;
    padding:4px 12px;
    margin-bottom:0;
    font-size:14px;
    line-height:20px;
    text-align:center;
    vertical-align:middle;
    cursor:pointer;
    color:#333333;
    text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
    background-color:#f5f5f5;
    background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    border-color:#e6e6e6 #e6e6e6 #bfbfbf;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border:1px solid #cccccc;
    border:0;
    border-bottom-color:#b3b3b3;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    margin-left:.3em;
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow:inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

.edit.bar a:hover,.edit.bar a:focus,.edit.bar a:active, .edit.bar a.active,.edit.bar a.disabled,.edit.bar a[disabled] {
    background-image: linear-gradient(to bottom, #f8f8f8, #f0f0f0);
}

.edit.bar a:active, .edit.bar a.active {background-color:#cccccc;}


/* Sidebar */
div.sidebar {
    float: right;
    border: 1px dotted #000;
    padding: 0 1em;
}
div.sidebar ul {
    padding-left: 1em;
}


/* Printing */
@media print {
    div.diff, div.diff+hr, div.refer, div.near, div.sister, div.cal, div.footer,
    span.specialdays, span.gotobar, a.edit, a.number span,
    div.rc form, div.definition { display: none; }
    body { font: 12pt "Neep", "Arial", sans-serif; color: #000; }
    a:link, a:visited { color: #000; text-decoration: none; font-style: oblique; }
    a[class="url number"]:after, a[class="inter number"]:after { content: "[" attr(href) "]"; }
    a[class="local number"]:after { content: "[" attr(title) "]"; }
    a.near { font-weight: normal; text-decoration: none; font-style: oblique; }
    a.near:link, a.near:visited, a.near:active, a.near:hover {
        color: inherit; background-color: inherit;
    }
    a[class="near"]:after { content: " [" attr(title) "]"; }
}


/* Syntax highlighting */
/* from emacs.css */
span.builtin      { color: #483d8b; } /* DarkSlateBlue */
span.comment      { color: #b22222; } /* Firebrick */
span.constant     { color: #008b8b; } /* DarkCyan */
span.function     { color: #0000ff; } /* Blue1 */
span.keyword      { color: #7f007f; } /* Purple */
span.string       { color: #8b475d; } /* VioletRed4 */
span.type         { color: #228b22; } /* ForestGreen */
span.warning      { color: #ff0000; font-weight: bold; } /* Red1 */
span.comment span,
span.string  span { color: inherit; }
span.comment span.important.constant,
span.string  span.important.constant { color: #008b8b; }

/* old: Equivalent to Output::HTML */
span.linecomment  { color: green; }
span.blockcomment { color: green; }
span.prepro       { color: purple; }
span.select       { font-weight: bold; }
span.quote        { color: blue; }
span.category_1   { color: teal; }
span.category_2   { color: blue; }
span.category_3   { color: blue; }



/* ---------------------------------------------------------------------- */
/* Pages */
/* ---------------------------------------------------------------------- */


/* Recent Changes */
/* hide the hr since the header div already has a line */
div.rc {
    padding-top: 0;
}
div.rc hr {
    display: none;
}
div.rc h2 {
    margin-top: 0;
}
div.rc table {
    border-collapse: separate;
    border-spacing: 2px;
}
div.rc td, th {
    border: none;
}
div.rc form {
    border-top: 1px solid #ccc;
    padding: 1em 0;
}


/* Edit */
textarea {
    font-family: Consolas, 'Bitstream Vera Sans Mono', Monaco, 'Lucida Console', Courier, monospace;
    font-size: 0.9em;
}
textarea[name="text"] {
    width: 100%;
    height: 80%;
}
textarea[name="summary"] {
    width: 100%;
    height: 3em;
}


/* Comment */
div.comment form {
    padding: 1em;
    border-top: 1px solid #ccc;
}
span.time {
    /* The default Constantia doesn't have monospace numbers, so use this. */
    font-family: Times, "Times Roman", "Times New Roman", serif;
}
textarea[name="aftertext"] {
    width: 100%;
    height: 10em;
    margin: 0.5em 0;
}
div.comment p {
    /* font-size: small; */
}
/* ? */
div.commentshown {
    font-size: smaller;
    padding: 0 2em 1ex 2em;
}
div.commentshown hr {
    margin: 1em;
}
.commenthidden { display: none; }
.commentshown { display: block; }


/* News */
/* headings */
div.journal {
    padding-top: 1em;
}
div.page {
    padding-top: 1em;
    /* border-top: 1px dotted #333; */
    border-top: 1px solid #aaa;
    padding-bottom: 1em;
}
h1 a.local {
    color: #222;
    font-size: 0.8em;
    border-bottom: none;
    text-decoration: none;
}
div.color {
    clear: both;
    padding: 1ex 1em;
    min-height: 100px; /* give room for portraits */
}
/* alternate conversations with .one/.two */
div.color.one {
    color: #444;
    background-color: #f4f3f2;
    border: 1px solid #ddd;
}
/* news text */
/* make text match the top margin of the portrait */
div.page div.portrait + p {
    margin-top: 0.5ex;
}





/* Local Variables: */
/* css-indent-offset: 4 */
/* whitespace-mode: t */
/* End: */
