/* original source: http://www.emacswiki.org/css/planet.css */

@import "/css/emacs.css";
body {
    font-size: 87.5%;
    font-family: 'Bitstream Vera Sans Mono', Monaco, 'Lucida Console', Courier, monospace;
    background-color: #fff;
    color: #333;
}

.header, .footer, .sister, .rc, div.history {
    font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
    font-size: 87.5%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h2 {
    padding: 2em 0 .25em 0;
    font-size: 1.25em;
    border-bottom: 1px solid black;
}

h3 h4 h5 h6 {
    padding: 1em 0 .25em 0;
    font-size: 1em;
}

div.toc {
    padding: 0;
}

div.toc h2 {
    padding: 0.5em;
    text-align: center;
    border: none;
}

h3 {
    font-style: normal;
}

